defaults: &defaults
  docker:
      - image: circleci/ruby:2.5.0-node-browsers
        environment:
          PGUSER: circleci
      - image: circleci/postgres:9.5-alpine
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: pts_db

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - paper_trail_scrapbook-{{ checksum "Gemfile.lock" }}
            - paper_trail_scrapbook-
      - run:
          name: Configure Bundler
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler -v $BUNDLER_VERSION
      - run:
          name: Bundle Install
          command:
            bundle check || bundle install
      - save_cache:
          key: paper_trail_scrapbook-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Database setup
          command: rake prepare
      - run:
          name: Setup CodeClimate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > cc-test-reporter
            chmod +x cc-test-reporter
      - type: shell
        command: |
          ./cc-test-reporter before-build
          bundle exec rspec --profile 10 \
                            --format RspecJunitFormatter \
                            --out test_results/rspec.xml \
                            --format progress \
                            $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
          ./cc-test-reporter format-coverage -t simplecov $CIRCLE_ARTIFACTS/coverage/.resultset.json
          ./cc-test-reporter upload-coverage
      - store_test_results:
          path: test_results

workflows:
  version: 2
  commit:
    jobs:
      - build

