
test: &test
  adapter: postgresql
  encoding: unicode
  host: <%= ENV['DATABASE_HOST'] || 'localhost' %>
  database: pts_db
  username: postgres
  password: postgres
  port: <%= ENV['DB_PORT'] || 5432 %>
  pool: 5

foo:
  <<: *test
  database: pts_foo_db

bar:
  <<: *test
  database: pts_bar_db
